.site-content {
	padding-top: 2em;
	display: block;
	max-width: 90%;
	margin: 0 auto 7em;
	word-wrap: break-word;
}
.content-area {
	//	flex: 2;
	//	float: right;
	//	margin: 0 0 0 (-$size__site-sidebar);
	//	width: calc(#{$size__site-main} - 1em);
}
.site-main {

}
.site-content .widget-area {
	//	flex: 1;
	//	float: left;
	//	overflow: hidden;
	//	width: calc(#{$size__site-sidebar} - 1em);
	//	width: 100%;
	//	column-count: 2;
	//	column-gap: 1em;
}
//.site-footer {
//	clear: both;
//	width: $size__site-main;
//}