//-------------------------------------------------------------//


/**
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/* Screen <= 899px */
@media screen and (max-width: 56.1875em) {
  .menu-toggle {
    order: 1;
    background: none;
    border: 2px solid $light;
    color: $light;
    text-transform: uppercase;
    &:focus {
      background: none;
    }
    &:hover,
    &.toggled {
      border: 2px solid $brand-color-4;
      background-color: $brand-color-4;
    }
  }
  .main-navigation {
    .site-header-wrapper {
      flex-flow: row wrap;
    }
    li {
      border-top: 2px solid #303B57;
    }
    .sub-menu {
      li {
        border-top: 2px solid rgba(69, 206, 190, 0.5);
        margin-left: 1em;
      }
      &.toggled {
        flex: 1 0 100%;
      }
    }
  }
}

/* Screen >= 600px */
@media screen and (min-width: 37.5em) {

  body.single,
  body.page {
    .page-content,
    .entry-summary,
    .entry-header,
    .entry-content,
    .entry-footer {
      margin-left: 5em;
      margin-right: 5em;
    }
  }

  .comment-author {
    .avatar {
      height: 42px;
      width: 42px;
      top: 6px;
    }
  }
  li.comment .children {
    > li {
      padding-left: 30px;
    }
  }

  .error-header {
    font-size: 160px;
    font-size: 16rem;
  }

}

/* Screen >= 900px */
@media screen and (min-width: 56.25em) {

  body.single,
  body.page {
    .page-content,
    .entry-summary,
    .entry-header,
    .entry-content,
    .entry-footer {
      margin-left: 10em;
      margin-right: 10em;
    }
  }

  .menu-toggle {
    display: none;
  }
  .main-navigation {
    .site-header-wrapper {
      //flex-wrap: nowrap;
    }
    .site-header-menu {
      order: 1;
      flex: 0 1 75%;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      ul {
        position: absolute;
        z-index: 99999;
        //				display: none;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: $color__navigation-sublink-bg;
        //box-shadow: 1px 2px 2px rgba(0,0,0,.8);
        ul {
          top: 0;
        }
        li {
          &:hover > ul,
          &.focus > ul {
            display: flex;
            left: 100%;
          }
        }
        a {
          width: 200px;
        }
        :hover > a,
        .focus > a {
          background-color: $color__navigation-sublink-bg-hover;
        }
        a:hover,
        a.focus {
          background-color: $color__navigation-sublink-bg-hover;
        }
        .menu-item-has-children > a {
          &:after {
            content: '\f105';
            font-family: FontAwesome;
            float: right;
          }
        }
      }
      li:hover > ul,
      li.focus > ul {
        display: flex;
      }
      .menu-item-has-children > a {
        &:after {
          content: '\f107';
          font-family: FontAwesome;
          padding-left: 10px;
        }
      }
    }
    li {
      display: block;
      border-top: none;
      &:hover > a,
      &.focus > a {
        background-color: $color__navigation-link-bg-hover;
        //box-shadow: 1px 2px 2px rgba(0,0,0,.8);
      }
    }
  }
  .dropdown-toggle {
    display: none;
  }
  .sub-menu {
    li {
      padding-left: 0;
    }
  }

  .site-footer {
    width: 80%;
    .site-info {
      order: 1;
    }
    .theme-info {
      order: 3;
    }
    .social-navigation {
      order: 2;
    }
  }

  .comment-navigation,
  .post-navigation {
    .nav-links {
      display: flex;
    }
    .nav-previous, .nav-next {
      flex: 1 0 auto;
    }
  }

  .error-content {
    width: 80%;
  }
  .error-header {
    font-size: 240px;
    font-size: 24rem;
  }

}

/* Screen >= 900px && < 1279 */
@media screen and (min-width: 56.25em) and (max-width: 79.9375em) {

  .site-content .widget-area {
    width: 100%;
    column-count: 2;
    column-gap: 2em;
  }

}

/* Screen >= 1280px */
@media screen and (min-width: 80em) {

  //.blog {
  .site-content {
    //		padding-top: 2em;
    display: flex;
    justify-content: space-between;
    //		max-width: 80%;
    //		margin: 0 auto;
  }
  .content-area {
    //	flex: 2;
    //	float: right;
    //	margin: 0 0 0 (-$size__site-sidebar);
    width: calc(#{$size__site-main} - 2em);
  }
  .site-content .widget-area {
    //	flex: 1;
    //	float: left;
    //	overflow: hidden;
    width: calc(#{$size__site-sidebar} - 0em);
  }
  //}
  body.single,
  body.page {
    .site-content {
      display: block;
    }
    .content-area {
      //	flex: 2;
      //	float: right;
      //	margin: 0 0 0 (-$size__site-sidebar);
      width: 100%;
    }
    .site-content .widget-area {
      //	flex: 1;
      //	float: left;
      //	overflow: hidden;
      width: 100%;
      column-count: 3;
      column-gap: 2em;
    }
  }
  body.no-sidebar {
    .content-area {
      //			width: 100%;
      margin: 0 auto;
    }
  }

  body.single,
  body.page {
    .page-content,
    .entry-summary,
    .entry-header,
    .entry-content,
    .entry-footer {
      margin-left: 15em;
      margin-right: 15em;
    }
  }

  .widget {
    padding: 32px;
    .widget-title {
      margin-top: -32px;
    }
  }

  .search-container-wrapper {
    display: flex;
    flex-direction: row-reverse;
    flex: 1 0 25%;
  }
  .search-box-wrapper {
    position: inherit;
    max-width: 500px;
  }

  .error-content {
    width: 70%;
  }

  .pagination {
    margin-bottom: 0;
  }

}

/* Screen >= 1600px */
@media screen and (min-width: 100em) {

  .site-content {
    max-width: 80%;
  }

  .main-navigation {
    .site-header-wrapper {
      max-width: 80%;
    }
  }

  .site-branding {
    max-width: 80%;
  }

  .social-navigation {
    //flex-basis: 20%;
    ul {
      justify-content: space-between;
    }
  }

  .error-content {
    width: 50%;
  }

}