.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin-bottom: 0.8075em;
		padding: .25em;
	}
}

.wp-caption-text {
	text-align: center;
	@include font-size(.875);
	color: darken($brand-color-6, 20);
	border-bottom: 1px solid $brand-color-6;
}
