/* Styles for mobile menu*/
.menu-toggle,
.site-header-menu.toggled .menu {
  display: block;
  .toggled {
    display: block;
  }
}

.dropdown-toggle {
  width: 48px;
  background: none;
  &:focus {
    color: $light;
    background: none;
  }
  &:hover {
    background: none;
    color: $brand-color-4;
  }
  &:after {
    content: '\f106';
    font-family: FontAwesome;
    font-size: 24px;
  }
  &.toggled:after {
    content: '\f107';
    color: $brand-color-4;
  }

}

.main-navigation {
  width: 100%;
  //	background-color: yellow;
  .site-header-wrapper {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
  }
  .site-header-menu {
    order: 3;
    flex: 1 100%;
  }
  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    ul {
      display: none;
    }
  }
  li {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  a {
    flex: 1 0 auto;
    display: block;
    text-decoration: none;
    padding: .6em;
    color: $color__navigation-link-text;
    &:hover,
    &:focus {
      background-color: $color__navigation-link-bg-hover;
    }
  }
}