.search-container-wrapper {
	display: block;
	order: 2;
	align-self: flex-end;
	.search-toggle {
		transition: color 1s ease-out;
		&.active {
			background-color: $color__navigation-search-bg-hover;
			transition: color 0s ease-out;
		}
	}
}
.search-box-wrapper {
	display: none;
	width: 100%;
	position: absolute;
	right: 0;
	z-index: 999;
	overflow: hidden;
	.search-field {
		position: relative;
		padding: .6em 1em;
		border-radius: 0;
		width: 100%;
		transition: box-shadow ease 2s;
	}
}
.search-form {
	display: flex;
	height: 50px;
	label {
		flex: 1 1 auto;
		display: flex;
	}
}

.search-toggle {
	height: 50px;
	.search-icon {
		padding: .65em 1em;
		cursor: pointer;
		i {
			color: $color__navigation-search-text;
		}
		&:hover {
			background-color: $color__navigation-search-bg-hover;
		}
	}
}
