.search-container-wrapper {
	display: block;
	//	position: relative;
	order: 2;
	.search-toggle {
		transition: color 1s ease-out;
		&.active {
			background-color: $color__navigation-search-bg-hover;
//			color: white;
			transition: color 0s ease-out;
		}
	}
}
.search-box-wrapper {
	display: none;
	overflow: hidden;
	width: 100%;
	//	max-width: 500px;
	position: absolute;
	top: 100%;
	right: 0;
	.search-field {
		padding: .6em 1em;
		border-radius: 0;
		border: 0;
		width: 100%;
	}
	.search-submit {
		//		display: none;
	}
}
.search-form {
	display: flex;
	label {
		flex: 1 0 auto;
		display: flex;
	}
}
@media screen and (min-width: 1280px) {
	.search-container-wrapper {
		display: flex;
		flex-direction: row-reverse;
		flex: 1 0 auto;
	}
	.search-box-wrapper {
		position: inherit;
		max-width: 500px;
	}
}
.search-toggle {
	.search-icon {
		padding: .6em 1em;
		cursor: pointer;
		i {
			color: $color__navigation-search-text;
		}
		&:hover {
			background-color: $color__navigation-search-bg-hover;
		}
	}
}
