body.error404 {
  .content-area {
    width: 100%;
    display: block;
  }
  .page-content {
    margin: 0;
  }
}

.error-content {
  background-color: #fff;
  padding: 4em;
  text-align: center;
  color: $color__text-main;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 50px 60px rgba(0,0,0,.7);
}
.error-header {
  @include font-size(8);
  line-height: 1;
  text-wrap: none;
}

@media screen and (min-width: 900px) {
  .error-content {
    width: 80%;
  }
  .error-header {
    @include font-size(15);
  }
}
@media screen and (min-width: 1280px) {
  .error-content {
    width: 70%;
  }
}
@media screen and (min-width: 1600px) {
  .error-content {
    width: 50%;
  }
}