.sticky {
	display: block;
}
.hentry {
	background-color: #fff;
	margin: 0 0 4em;
	padding-top: 3.75em;
	padding-bottom: 3.75em;
	box-shadow: 0 50px 60px rgba(0, 0, 0, .7);
	&.has-post-thumbnail {
		padding-top: 0;
	}
}
.byline,
.updated:not(.published) {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.tags-links {
	margin-right: 10px;
	color: lighten($brand-color-5, 50);
	a {
		color: lighten($brand-color-5, 50);
		font-style: italic;
		&:hover,
		&:focus {
			color: $brand-color-4;
		}
		&:before {
			content: "#";
		}
	}
}
.blog {
	.entry-header,
	.entry-content,
	.entry-footer {
		margin-left: 3.75em;
		margin-right: 3.75em;
	}
	.entry-header {
		margin-bottom: 2.75em;
		.cat-links, .entry-meta {
			margin-left: 5px;
		}
	}
	.entry-title {
		line-height: 1.2;
	}
}

.single {
	.hentry {
		margin-bottom: 0;
	}
	.entry-header,
	.entry-content,
	.entry-footer {
		margin-left: 2em;
		margin-right: 2em;
	}
	.entry-header {
		text-align: center;
		margin-bottom: 3.75em;
	}
	.entry-title {
		line-height: 1.2;
		margin-bottom: 12px;
	}
}
.entry-content {
	//	margin: 0 60px;
	a {
		color: $brand-color-4;
		border-bottom: 1px dotted;
		border-bottom-color: $brand-color-4;
		&:hover,
		&:focus,
		&:active {
			color: $brand-color-3;
			border-bottom-color: $brand-color-3;
		}
	}
}
.entry-footer {
	//	margin: 0 60px;
}
.entry-title {
	//	font-size: 4rem;
	//	line-height: 1.25;
}
.post-thumbnail, .hero-image {
	max-height: 900px;
	overflow: hidden;
	display: block;
	margin-bottom: 2em;
}
@media screen and (min-width: 600px) {
	.single {
		.entry-header,
		.entry-content,
		.entry-footer {
			margin-left: 5em;
			margin-right: 5em;
		}
	}
}
@media screen and (min-width: 900px) {
	.single {
		.entry-header,
		.entry-content,
		.entry-footer {
			margin-left: 10em;
			margin-right: 10em;
		}
	}
}


@media screen and (min-width: 1280px) {
	.single {
		.entry-header,
		.entry-content,
		.entry-footer {
			margin-left: 15em;
			margin-right: 15em;
		}
	}
}
